*{
    background-color: blanchedalmond;
    background-image: url(img1.jpg);
}
header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight:10;
    font-style:bold;
    color: rgb(7, 7, 7);
    background-color: blanchedalmond;
}
.poem
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight:30;
    font-style:inherit;
    padding: 1.5%;
    line-height:250%;
    color: rgb(2, 2, 2);
    background-color: blanchedalmond;
}